.accordion-button {
  color: white;
  background-color: #212529;
}

.accordion-button:hover{
    background-color: #212529;
}

.accordion-body{
    background-color: #7c1a1a;
    color: rgb(197, 197, 197);
}

.accordion-button:not(.collapsed) {
  background-color: #000000;
  color: white;
}

.btn-bordo {
  background-color: #800000;
  border-color: #660000;
  color: white;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.btn-bordo:hover {
  background-color: #990000;
  border-color: #660000;
  transform: scale(1.03);
}

.btn-bordo-danger {
  background-color: #8B0000;
  border: none;
  color: white;
  font-weight: bold;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.btn-bordo-danger:hover {
  background-color: #B22222;
  transform: scale(1.05);
}

.modal-content {
  border-radius: 12px;
  overflow: hidden;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }

.accordion-button:not(.collapsed){
    background-color: #000000;
    color: rgb(250, 96, 96)    
}

.transition {
  transition: all 0.3s ease-in-out;
}

.formulario-oferta.ocultar {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transform: scaleY(0.9);
}

.formulario-oferta.mostrar {
  max-height: 1000px;
  opacity: 1;
  transform: scaleY(1);
}

.btn-toggle-formulario {
  background-color: #800000;
  color: #ffeaea; 
  border: 2px solid #660000;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1rem; 
  padding: 12px 30px; 
  border-radius: 12px; 
  transition: all 0.2s ease-in-out;
  display: inline-flex;
  align-items: center;
  gap: 10px; 
  white-space: nowrap; 
  width: auto;
}

.btn-toggle-formulario:hover {
  background-color: #990000;
  color: #ffffff;
  transform: scale(1.04);
  cursor: pointer;
}

.btn-toggle-formulario i {
  font-size: 1.3rem;
  line-height: 1;
}