.recuadroEmpresas{
    width: 300px;
    border: 1px solid black ;
    border-radius: 20px;
    padding: 5px;
    position: relative;
    float: right;

    background-color: #252729;
    color: whitesmoke;


}


.itemLista{
    background-color: transparent;
    color: whitesmoke;
    text-align: start;
}

.list-group-item-action:not(.active):focus, .list-group-item-action:not(.active):hover {
   color: white;
  background-color: #2b2d30;
  
}

button:hover {
    border-color: whitesmoke;
}

.logoEmpresa{
    width: 30px;
    height: auto;
}
.nombreEmpresa{
    margin-left: 5px;
    display: inline-block;
}