.scroll-box {
  max-height: 500px;
  overflow-y: auto;
  padding: 20px;
  width: 100%;
  background-color: #3b3b3b;
  border-radius: 40px;
}

.trabajos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1rem;
  background-color: transparent;
}

input.form-control::placeholder {
  color: #ccc;
}

input.form-control:focus {
  border-color: #ff5050;
  box-shadow: 0 0 0 0.2rem rgba(255, 80, 80, 0.25);
}

.opciones-filtro {
  box-shadow: 0 4px 12px rgba(255, 80, 80, 0.4);
  backdrop-filter: blur(4px);
  border-radius: 1rem;
  z-index: 5;
  position: relative;
}

.filtro-barra input:focus,
.filtro-barra select:focus {
  border-color: #ff5050;
  box-shadow: 0 0 0 0.2rem rgba(255, 80, 80, 0.25);
}

.filtro-barra select option {
  background-color: #1e1e1e;
  color: white;
}

.postulantes-contenedor {
  padding-top: 2rem;
  padding-bottom: 5rem;
  background: #121212;
  border-radius: 30px;
}

.trabajo-card-img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.trabajo-card-body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}

.trabajo-card-body h5 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.trabajo-card-body p {
  margin: 0.25rem 0;
}

.trabajo-card-body h5,
.trabajo-card-body p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
