/* clase por defecto */
.nav-link {
 
  color: rgb(167, 167, 167);
  text-decoration: none;
}

/* clase para el ítem activo */
.nav-link:hover, .nav-link:focus {
   color: white;
}

@media (max-width: 991px) {
  .botonCerrar {
    margin-top: 10px;
    margin-bottom: 5px;
  }
}