.nav-link {
 
  color: rgb(167, 167, 167);
  text-decoration: none;
}

.nav-link:hover, .nav-link:focus {
   color: white;
}

.modal-content {
  max-height: 80vh;
  overflow: hidden;
  border-radius: 12px;
}
