
#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.contenidoPrincipal{
  margin-top: 80px;
  width: 100vh;
  height: 100vh;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black; /* Cambia el color de fondo de las flechas */
  border-radius: 50%;
  padding: 10px;
  background-size: 100% 100%;
}

